body{

}
.main-container{
   
   
}
.header{
    
    display: flex;
    background-color: blue;
    justify-content: space-between;
}
.navelist {
  
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin: auto;
}
a{
    text-decoration: none;
}
input[type='search']{
    border-radius: 10px;
    width: 300px;
    background-color: whitesmoke;
}
p{
    color:white
}
.gist-container{
    display: flex;
    justify-content: space-between;
    width: 500px;
    background-color: blueviolet;
    margin: auto;
}

input[type='text']{
    width: 350px;
    padding: 15px;
}
input[type='submit']{
    margin-left: 10px;
    width: 100px;
    padding: 15px;
    border-radius: 5px;
}
.post-container{
    border-radius: 5px;
    width: 500px;
    margin: auto;
   
}
img{
    width: 100%;
    height: auto;
    border-radius: inherit;
}